<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSComboBox使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FF74984208DB06A00201F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF7499A208DB06B00201F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FF749A5208DB06B00201F71</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
