<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSViewController三种创建方式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F79EFF320C4BD9B00EFC27E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F79F00920C4BD9B00EFC27E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F79F01420C4BD9B00EFC27E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
